body{
  font-family: sans-serif;
  margin: 0;
  background: #7822c3;
  background: linear-gradient(180deg, rgba(120, 34, 195, 1) 0%, rgba(45, 45, 253, 1) 100%);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    color: white;
    background: url('folder/1.jpg') no-repeat center/cover;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 10px;
    
}
.hero h1 {
    font-size: 50px;
    margin-bottom: 0; 
   
}

.hero p {
    font-size: 22px;
   
}

.cta-button {
padding: 15px 30px;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 25px;
    background-color: #28b485;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


a{
    color:white;
    text-decoration: none;
    
}

h1{
    color: white;
    font-size: 35px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

li {
  font-size: 22px;
}

.hero h1{
    font-size: 30px;
    color: red;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.popular{
    border: 3px none blue;
    background: #150024;
    background: linear-gradient(90deg,rgba(21, 0, 36, 0.73) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 15px;
    padding: 8px;
}

.history{
    border: 3px dashed orange;
    background-color: red;
    padding: 8px;
    border-radius: 15px;
    background: #b44c3a;
    background: linear-gradient(90deg, rgba(180, 76, 58, 1) 0%, rgba(253, 104, 29, 0.92) 50%, rgba(252, 176, 69, 0.86) 100%);
}

.extra{
    border: 3px solid yellow;
    background-color: #f0ce24;
    padding: 8px;
    border-radius: 15px;
    background: #9b702a;
    background: linear-gradient(90deg, rgba(155, 112, 42, 1) 0%, rgba(199, 184, 87, 0.82) 50%, rgba(229, 237, 83, 0.9) 100%);
}

.card-deck {
  display: flex;
  justify-content: center;
  gap: 20px;        
  flex-wrap: wrap; 
  border: 4px solid red;
  border-radius: 14px;
  background: #3d0505;
  background: linear-gradient(90deg, rgba(61, 5, 5, 1) 0%, rgba(194, 14, 14, 0.84) 35%, rgba(255, 0, 0, 0.66) 100%);
}

.card {
  width: 300px;      
  padding: 16px;
  border-radius: 10px;
  background: #f3f3f3;
}

.card-react{
    background-image: linear-gradient(45deg, #ff4e00, #ec9f05);
    box-shadow: 0 0 20px 5px #ff4e00;
}

.card-POV{
    background-image: linear-gradient(45deg, #00c6ff, #0072ff);
    box-shadow: 0 0 20px 5px #00c6ff;
}

.card-brainrot{
     background-image: linear-gradient(45deg, #8e44ad, #ff00ff);
    box-shadow: 0 0 20px 5px #ff00ff;
}

.about-history{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid orange;
    border-radius: 15px;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.extra-info{
    color: white;
    border: 6px solid white;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

footer{
    padding: 15px 50px;
}

.extra-meme{
    text-align: center;
    color: red;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 25px;
    border-radius: 25px;
}

iframe{
    border-radius: 25px;
}

h5{
    color: white;
    font-weight: bold;
}
